@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --down: 190, 106, 106;
  --down-dark: 182, 88, 88;
  --down-muted: 158, 112, 112;
  --up: 96, 191, 79;
  --up-dark: 82, 180, 65;
  --up-muted: 116, 131, 114;
}

@layer base {
  .footer-header-title {
    @apply font-medium text-xl sm:text-base leading-7 text-missioncontrol mb-1 sm:mb-2;
  }
  .footer-link {
    @apply font-medium text-xl sm:text-base leading-7 text-white cursor-pointer transition-all duration-200 ease-in-out hover:opacity-60;
  }
  .nav-link {
    @apply text-base max-sm:text-2xl max-[1024px]:text-3xl font-normal max-lg:text-white text-foxflowerviola hover:text-white duration-200 after:absolute relative after:w-0 after:duration-300 cursor-pointer after:bg-white after:-bottom-[2px] after:left-0 after:h-px after:hover:w-full;
  }
  .card-btn {
    @apply bg-daintree mt-2 leading-6 duration-500 w-full rounded-lg py-2 px-3 text-white text-sm font-medium group-hover:!text-daintree group-hover:!bg-white;
  }
  .vault-headings {
    @apply text-base whitespace-nowrap justify-end flex items-center gap-[2px] font-normal text-foxflowerviola;
  }
  .deposit-btn {
    @apply text-sm mr-4 my-2 group-hover:!text-daintree group-hover:!bg-white duration-500 leading-6 text-white font-medium py-2 px-3 rounded-xl bg-[#1b1f2b];
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
      rgb(var(--foreground-rgb, 0, 0, 0))
    )
    rgb(var(--background-start-rgb));
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* slider card css ============>  */
.cardShadowBor {
  box-shadow: 0px 32px 40px -2px rgba(0, 0, 0, 0.08),
    0px 1px 1px 0px rgba(0, 0, 0, 0.08);
  border: 1px solid var(--foreground-night-400, rgba(255, 255, 255, 0.027));
}
.cardShadow {
  background: var(--background-night-900-high-emphasis, #012a36);
}
.borderColor {
  border-color: var(--foreground-night-400, rgba(255, 255, 255, 0.13));
}
.timeLine {
  background: var(--foreground-night-300, rgba(255, 255, 255, 0.08));
}
.radius {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
/* slider card css ends here ============>  */

/* buy and sell css =============>  */

.halfBg {
  background: var(--Danger-500, rgba(249, 86, 79, 0.19));
}

/* buy and sell css ends here ============>  */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hideScrollBar::-webkit-scrollbar {
  display: none;
}

/* order book styles =================>  */

.bid-size-bar {
  background: linear-gradient(to right, rgba(6, 214, 160, 0.3), #06D6A0, rgba(6, 214, 160, 0.3));
  position: absolute;
  right: 50%;
  height: 100%;
}

.ask-size-bar {
  background: linear-gradient(to left, rgba(239, 71, 111, 0.3), #EF476F, rgba(239, 71, 111, 0.3));
  position: absolute;
  left: 50%;
  height: 100%;
}

.orderBookSearchBg {
  border: 1px solid var(--foreground-night-400, rgba(255, 255, 255, 0.13));
  background: var(--foreground-night-100, rgba(255, 255, 255, 0.03));
}

.recharts-cartesian-grid-horizontal :last-child {
  display: none;
}

/* orderbook flash */

@keyframes greenFlash {
  from { background-color: rgba(6, 214, 160, 0.3); }
  to { background-color: transparent; }
}

@keyframes redFlash {
  from { background-color: rgba(239, 71, 111, 0.3); }
  to { background-color: transparent; }
}

.green-flash {
  animation: greenFlash 1s ease-out;
}

.red-flash {
  animation: redFlash 1s ease-out;
}


/* order book styles ends here ===============>  */


.clicked-icon {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

/* drawer styles ===========>  */
.drawer {
  width: 70% !important;
  background-color: #043f50 !important;
}

@media screen and (max-width: 500px) {
  .drawer {
    width: 100% !important;
    background-color: #012732 !important;
  }
}

tspan {
  font-size: 14px !important;
  fill: white !important;
  opacity: 40%;
}

@keyframes copiedAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}

.animate-copied {
  animation: copiedAnimation 0.5s ease;
}

/* TRADING VIEW STYLES ===========>  */

.tradingview-widget-container iframe {
  border: none !important;
}

.shiny-gradient-text {
  font-weight: bold; /* Makes the text bold */
  background: linear-gradient(45deg, #5099CC, #5099CC, #FFFFFF, #5099CC);
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: moveGradient 3s ease infinite;
}

.shiny-gradient-text2 {
  font-weight: bold; /* Makes the text bold */
  background: linear-gradient(45deg, #C77DFF, #FFFFFF, #C77DFF, #C77DFF);
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: moveGradient 3s ease infinite;
}

.fixed-container {
  width: 250px; /* Fixed width */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start to keep them left-aligned */
  justify-content: flex-start; /* Align content to the top */
  padding: 4px; /* Add some padding for spacing */
}

.button-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 10px; /* Adjust the gap as needed */
  width: 100%;
}

.button-market-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button-chevron {
  justify-self: center;
}

.markets-bar-container {
  border-top: 1px solid #ccc; 
  border-left: 1px solid #ccc; 
  border-right: 1px solid #ccc;
  background-color: #012732;
  border-radius: 16px 16px 0 0;
  padding: 1rem;
  display: flex;
  flex-direction: column; /* Stack elements on mobile */
}

@media (min-width: 768px) { /* Adjust breakpoint as needed */
  .markets-bar-container {
    flex-direction: row; /* Horizontal layout on larger screens */
    justify-content: space-between;
  }
}

.market-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.market-info div, .market-info p {
  margin: 0.5rem 0; /* Adjust as needed */
}

@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Custom Sleek Scrollbar Styles */
::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar width */
}

::-webkit-scrollbar-track {
  background-color: #012732; /* Background color same as the page */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(1, 39, 50, 0.6); /* Slightly visible scrollbar thumb */
  border-radius: 3px; /* Mildly rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(1, 39, 50, 0.8); /* Darker shade on hover for better visibility */
}

/* Ensuring scrollbar blends well in dark mode too */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background-color: #012732;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(1, 39, 50, 0.6);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(1, 39, 50, 0.8);
  }

};

.subscript {
  display: inline-block;
  position: relative;
  vertical-align: baseline;
  font-size: smaller;
}

.subscript::after {
  content: '₄'; /* Unicode subscript 4 character */
  position: absolute;
  bottom: 0.5em; /* Adjust as needed to align with the baseline */
  left: 0.1em; /* Adjust as needed to position correctly */
}
